.slider-frame {
	background-image:none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='css/images/hole.png', sizingMethod='image');
}
.slider-holder ul li .post-data {
	background-image:none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='css/images/transparent-70.png', sizingMethod='scale');
}
